body{
  
  box-sizing: border-box;
  margin:0;
  padding:0;
  background-color:black;
}

.container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px
}

.card{ 
 width:25%;
 margin:10px;
 background-color:white;
 border-radius:15px;
}

.card-image{
  height:200px;
  background-color: blue;
  background-size: cover;
  border-radius:15px 15px 0px 0px;
}
.car1{
  background-image:url('https://img.freepik.com/free-photo/luxurious-car-parked-highway-with-illuminated-headlight-sunset_181624-60607.jpg?w=1060&t=st=1703932507~exp=1703933107~hmac=fec6e54ce4a29a15a5cc4dddacfdd5fa3a89ea6e264dec0d64e779ccc4429d17')
}
.car2{
  background-image:url('https://img.freepik.com/free-photo/white-offroader-jeep-parking_114579-4007.jpg?w=1060&t=st=1703932797~exp=1703933397~hmac=20fd5894c9d7c446098bb3d048cfd2ba03c02373a49c7866ccc7bc36fa23fe25');
}
.car3{
  background-image:url('https://img.freepik.com/free-photo/white-offroader-jeep-parking_114579-4007.jpg?w=1060&t=st=1703932797~exp=1703933397~hmac=20fd5894c9d7c446098bb3d048cfd2ba03c02373a49c7866ccc7bc36fa23fe25');
}

.card h1{
  padding:10px;
}

.card p {
    
  padding:10px;
  
}

.card a{
 
  background-color:black;
  color:white;
  display: block;
  text-align: center;
  margin: 20px 50px;
  padding: 20px 20px;
}

.card:hover{
  
  background-color: rgb(62, 62, 62);
  color: white;
  cursor: pointer;
  tranform: scale(1.03);
  transition: all 1s ease;
}

.header{
  position:fixed;
  background-color:#40e0d0;
  top:0px;
  left:0px;
  width:100%;
  border-radius: 1;
  z-index: 1;
}
.header h1{
  text-align: center;
}

.footer{
  position:fixed;
  background-color:#40e0d0;
  bottom:0px;
  left:0px;
  width:100%;
  border-radius: 1;
  z-index: 1;
}
.footer h3{
  
  text-align: center;
  
}
