.header{
    position: fixed;
    top:0px;
    left:0px;
    width: -webkit-fill-available;
    background-color: white;
    padding: 20px;
    z-index:1;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

body{
    margin-top: 91px;
    margin-left:0px;
    margin-right:0px;
}

.banner{
    position: relative;
    padding: 20px;
    background-color: gray;
    border-radius: 50px;
}

.banner img{
    width:300px;
}

.hero-banner-image{
    position: absolute;
    top:5%;
    right:40%;
}

.desc{
    margin-left:auto;
    margin-right:0px;
    width: 30%;
}

.banner-button{

    padding: 10;
    border-radius: 5px;
    color:white;
    background-color: red;

}